--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.9.1+cu111
torchvision==0.10.1+cu111
torchaudio==0.9.1
tensorflow==2.7


Keras-Applications
click
cvlib

glfw
imageio-ffmpeg
imageio
imgui
ipywidgets
jupyterlab
kmeanstf
matplotlib
mtcnn
ninja
numpy
opencv-python
pandas
pillow
psutil
pyspng
pyopengl
ray
ray[tune]
requests
scipy
seaborn
sklearn
tensorflow-addons
tqdm
vit-keras
scikit-learn
tensorboard==2.7
lmdb
setuptools
git+https://github.com/rcmalli/keras-vggface.git